<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% for(let product of products) { %>
        
        <h1>Product Name: <%= product.name %></h1>
        <h1>Quantity: <%= product.quantity %></h1>
        <h1>Price: <%= product.price %></h1>
        <form action="/order/<%= product._id %>" method="get">
            <button>Order Product</button>
        </form>
        <hr>
        
       <% } %> 
</body>
</html>